/* 
    General Styles

*/
.card {
    margin: 20px;
}

.planets {
    overflow-y: auto;
    width: 400px;
    margin:20px;
    padding:20px;
}
.people{
    overflow-y: auto;
    width: 400px;
    margin:20px;
    padding:20px;
}
